<a href="https://colab.research.google.com/github/gnbhub/GnB20222_Python_Basic/blob/master/sohee0814.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
price = float(input("상품 가격을 입력 (만원) : "))
if price >= 10:
  discount = price * 0.2
else:
  discount = price * 0.1
final_price= price-discount
print("최종 가격 : %.2f 만원 " %final_price)

상품 가격을 입력 (만원) : 15
최종 가격 : 12.00 만원

In [7]:
hours = float(input("근무 시간 입력 : "))
pay = 8000
if hours > 7:
  salary = pay * hours
  salary = salary + (pay * (hours- 7)) * 0.5
else:
  salary = pay * hours
print("임금 : %.2f 원 " %salary)

근무 시간 입력 : 9
임금 : 80000.00 원

In [1]:
gender = input("성별을 입력 (남:m,여:f) : ")
if gender.lower()=='f':
  age = int(input("나이 입력 : "))
  if 10 <= age <= 12:
    print("입단이 가능합니다")
  else:
    print("나이가 조건에 안맞습니다")
else:
  print("여자만 모집합니다")

성별을 입력 (남:m,여:f) : f
나이 입력 : 11
입단이 가능합니다

In [2]:
score = int(input("점수를 입력 : "))
if 90 <= score <= 100:
  print("A")
elif 80 <= score < 90:
  print("B")
elif 70 <= score < 80:
  print("C")
else:
  print("F")

점수를 입력 : 70
C

In [3]:
month = int(input("달을 입력 : "))
if month == 2:
  print("28일")
elif month == 4 or month == 6 or month ==10:
  print("30일")
else:
  print("31일")

달을 입력 : 4
30일