<a href="https://colab.research.google.com/github/gnbhub/GnB20222_Python_Basic/blob/master/week1/jiwoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
money = int(input("돈 입력 : "))

if money >= 0 and money<10000:
  thou = money//1000
  five_hun = (money - thou*1000)//500
  one_hun = (money - thou*1000 - five_hun*500)//100
  fifty = (money - thou*1000 - five_hun*500 - one_hun*100)//50
  ten = (money - thou*1000 - five_hun*500 - one_hun*100 - fifty*50)//10
  one = (money - thou*1000 - five_hun*500 - one_hun*100 - fifty*50 - ten*10)//1
  min = thou + five_hun + one_hun + fifty + ten + one 

  print("%d won = %d*1,000 won + %d*500 won + %d*100 won + %d*50 won + %d*10 won + %d*1 won." %(money, thou, five_hun, one_hun, fifty, ten, one))
  print("total %d is the minimum." %min)

else:
  print("다시 입력하시오.")

돈 입력 : 4200
4200 won = 4*1,000 won + 0*500 won + 2*100 won + 0*50 won + 0*10 won + 0*1 won.
total 6 is the minimum.

In [11]:
height = float(input("높이 : "))
radius = float(input("반지름 : "))
pi = 3.141592

area = pi*(radius**2)
circum = 2*pi*radius

print("원 면적 :", round(area,2))
print("원 둘레 :", round(circum,2))

높이 : 5.6
반지름 : 2.2
원 면적 : 15.21
원 둘레 : 13.82

In [19]:
number = eval(input("수를 입력 : "))
number = eval(input("수를 입력 : "))

expression = input("일반 수식을 그대로 입력 : ")
answer = eval(expression)
print("결과 : %.2f" %answer)

수를 입력 : 100
수를 입력 : 3.14
일반 수식을 그대로 입력 : 2*6-3
결과 : 9.00