<a href="https://colab.research.google.com/github/gnbhub/GnB20222_Python_Basic/blob/master/week5/jiwoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
fruit = {}

for count in range(3):
    name = input("과일 이름 : ")
    price = int(input("가격 입력 : "))
    fruit[name] = price

print(fruit)

과일 이름 : 딸기
가격 입력 : 5000
과일 이름 : 귤
가격 입력 : 1000
과일 이름 : 감
가격 입력 : 3000
{'딸기': 5000, '귤': 1000, '감': 3000}

In [2]:
result = {"char":0, "digit":0, "other":0}
message = input("문자열을 입력 : ")

for letter in message:
    if letter.isalpha():
        result["char"] += 1
    elif letter.isdigit():
        result["digit"] += 1
    else:
        result["other"] += 1

print("문자 : %(char)d개" %result)
print("숫자 : %(digit)d개" %result)
print("기타 : %(other)d개" %result)

문자열을 입력 : python123*&hi
문자 : 8개
숫자 : 3개
기타 : 2개

In [3]:
fruit = {"apple":1500, "banana":1300, "melon":2000}
count = 0

for key, item in fruit.items():
    count += 1
    print("%d.%s(%d원)" %(count, key, item))

total = 0

for key in fruit.keys():
    print("%s의 개수 : " %key, end="")
    number = int(input())
    total = total + (fruit[key] * number)

print("총금액 : %d원" %total)

1.apple(1500원)
2.banana(1300원)
3.melon(2000원)
apple의 개수 : 2
banana의 개수 : 4
melon의 개수 : 3
총금액 : 14200원

In [5]:
set1={1,2,3,4}
set2={3,4,5,6}
print(set1&set2)
print(set1|set2)
print(set1-set2)
print(set1^set2)

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2, 5, 6}

In [17]:
numbers = set()
numbers.add(1)
numbers.add(2)
print(numbers)

numbers.update([3, 4])
numbers.update({"one":1})
print(numbers)

numbers.remove(3)
numbers.pop()
print(numbers)

{1, 2}
{'one', 1, 2, 3, 4}
{1, 2, 4}